body{
    background-color: black;
    color: white;
}
header{
    padding-left: 50px;
    font-size: 175%;
}
figure{
    display: flex;
    justify-content: space-between;
}
.text{
    display: flex;
    justify-content: space-between;
}
.overview{
    padding-left: 50px;
    font-size: 125%;
}
.subhead{
    padding-right: 250px;
}
